@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-card {
    @apply btn-sm btn btn-outline btn-secondary text-white hover:text-red border-red  hover:border-b-red hover:bg-white  px-4 py-1 rounded-lg border-b-4 hover:scale-105 duration-300;
  }
  /* .btn-fifth {
    @apply btn w-24 text-black  bg-white hover:text-white border-red normal-case hover:bg-red  px-2 py-1 rounded-lg border-b-4 hover:scale-105 duration-300 hover:shadow-rose-400 shadow-lg;
  } */
  .btn-custom {
    @apply btn btn-sm text-black  bg-white hover:text-white border-red  hover:border-b-white hover:no-underline
         hover:bg-red  rounded-lg px-5 border-b-4 hover:scale-105 duration-300;
  }
  .btn-custom-dark {
    @apply btn btn-sm text-white  bg-black/10 hover:text-black border-white  hover:border-b-white hover:no-underline
         hover:bg-white   rounded-lg px-5 border-b-4 hover:scale-105 duration-300;
  }

  /*-------------- Button start -------------------- */

  /*-------------- button primary  btn-fifth ------------ */
  .btn-primary {
    width: 140px;
    height: 42px;
    background: linear-gradient(to bottom, #126e9d, #10aade);
    /* border: 1px solid #126e9d; */
    color: azure;
    padding: 10px 18px;
    margin: 6px 4px;
    text-align: center;
    display: flex;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    position: relative;
    overflow: hidden;
  }
  .btn-primary:hover {
    background: linear-gradient(to right, #126e9d, #10aade);
  }

  /*-------------- button secondary ------------ */
  .btn-secondary {
    width: 140px;
    height: 42px;
    background: linear-gradient(to bottom, #126e9d, #10aade);
    border: none;
    color: white;
    padding: 10px 18px;
    margin: 6px 4px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.5s ease-in-out, background 0.5s ease-in-out;
    position: relative;
    overflow: hidden;
  }
  .btn-secondary:hover {
    background: linear-gradient(to right, #126e9d, #10aade);
    transform: translateX(5px);
  }

  /*-------------- button tertiary ------------ */
  .btn-tertiary {
    width: 140px;
    height: 42px;
    padding: 10px 18px;
    margin: 6px 4px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    border: 2px solid #126e9d;
    color: white;
    background: linear-gradient(to right, #126e9d, #10aade);
    transition: ease-in-out 0.5s;
    position: relative;
    font: 18px;
    z-index: 1;
  }

  .btn-tertiary:hover {
    color: #126e9d;
    cursor: pointer;
    background: none;
    border: 2px solid #126e9d;
  }

  .btn-tertiary:before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 0%;
    right: 0%;
    bottom: 0;
    opacity: 0;
    content: "";
    background: linear-gradient(to bottom, #126e9d, #10aade);
  }

  .btn-tertiary:hover::before {
    transition: 0.5s all ease;
    left: 50%;
    right: 50%;
    opacity: 1;
    z-index: -1;
  }

  /*------------------------- button fifth ----------------*/
  .btn-fifth {
    width: 140px;
    height: 42px;
    padding: 10px 18px;
    margin: 6px 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    border: 2px solid #126e9d;
    color: #126e9d;
    transition: ease-in-out 0.5s;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: none;
    font: 18px;
    /* outline: none */
    z-index: 0;
  }
  .btn-fifth:hover {
    color: white;
    cursor: pointer;
    border: 1px solid #126e9d;
    border-radius: 5px;
  }
  .btn-fifth:before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    /* left: 50%; */
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: "";
    background: linear-gradient(to right, #126e9d, #10aade);
  }
  .btn-fifth:hover::before {
    transition: 0.3s all ease;
    left: 0;
    right: 0;
    opacity: 1;
    z-index: -1;
  }
  /*-------------- Button end-------------------- */


/* Button start Tonmoy for dark mode */
.btn-fifth-dark {
  width: 140px ;
  height: 42px ;
  padding: 10px 18px ;
  margin: 6px 4px ;
  text-align: center ;
  text-decoration: none ;
  text-transform: uppercase ;
  display: inline-block ;
  font-size: 16px ;
  border-radius: 5px !important;
  border: 1px solid #ffffff !important ;
  color: #ffffff  !important;
  transition: ease-in-out 0.5s ;
  position: relative ;
  display: flex ;
  align-items: center ;
  justify-content: center ;
  font: 18px ;
  /* outline: none */
  z-index: 0 ;
  
}
.btn-fifth-dark:hover {
  color: rgb(3, 1, 1)  !important;
  cursor: pointer;
 
  
}
.btn-fifth-dark:before {
  transition: 0.5s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content: "";
  background: linear-gradient(to right, #fdfeff, #ffffff);
  
}
.btn-fifth-dark:hover::before {
  transition: 0.3s all ease;
  left: 0;
  right: 0;
  opacity: 1;
  z-index: -1;
}

/* Button end Tonmoy for dark mode */

  .section {
    @apply shadow-xl rounded-lg p-5 my-5;
  }
 
  
  .page-heading {
    @apply text-4xl  border-b-4 border-red w-fit mx-auto pb-2;
  }
}

* {
  font-family: "Roboto", sans-serif;
  /* font-family: 'Lato', sans-serif; */
}

/* button start */

/* CSS */
.primary-button {
  appearance: none;
  background-color: transparent;
  border: 2px solid #d71d24;
  border-radius: 15px;
  box-sizing: border-box;
  color: rgb(42, 42, 42);
  cursor: pointer;
  display: inline-block;
  font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  /* min-height: 60px; */
  min-width: 0;
  outline: none;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(0.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  /* width: 100%; */
  will-change: transform;
}

.primary-button:disabled {
  pointer-events: none;
}

.primary-button:hover {
  color: white;
  background-color: #d71d24;
  box-shadow: rgba(105, 4, 4, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.primary-button:active {
  box-shadow: none;
  transform: translateY(0);
}
/* button end */

/* CSS */
.button-52 {
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid rgb(64, 63, 63);
  cursor: pointer;
  position: relative;
  background-color: rgba(57, 56, 56, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-52:after {
  content: "";
  background-color: #d71d24;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.button-52:hover:after {
  top: 0px;
  left: 0px;
}

.dark-style{
  background-color: rgba(0, 0, 0, 0.925) !important;
  color: white !important;
}

@media (min-width: 768px) {
  .button-52 {
    padding: 13px 50px 13px;
  }
}


/* slider styles 
 */
.swiper-button-prev,.swiper-button-next{
  color: #B9B9B9;
  cursor: pointer;
  overflow: hidden;
  font-size: 5px;
  height: 100px;
  /* border: .5px solid #B9B9B9; */
  top: 120px;
}
.swiper-slide{
  width: fit-content !important;
  margin: 0 auto !important;
}
.swiper {
  justify-content: center;
}
.swiper-pagination {
  display: none;
}
.swiper-wrapper{
  transform: translate3d(20.875px, 0px, 0px);
  
}
.append-buttons {
  text-align: center;
  margin-top: 20px;
}

.append-buttons button {
  display: inline-block;
  cursor: pointer;
  border: 1px solid #007aff;
  color: #007aff;
  text-decoration: none;
  padding: 4px 10px;
  border-radius: 4px;
  margin: 0 10px;
  font-size: 13px;
}

.shadow-Card:hover{
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.25);
}